[Unit]
Description=Gotenberg PDF Converter
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/docker rm -f gotenberg
ExecStart=/usr/bin/docker run --rm --name gotenberg -p 3000:3000 gotenberg-lims:latest
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
